
Intermediate/CachedAssetRegistry_0.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-E54D8CD24664199108DE63B6EE54CE80/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/ProgramTomorrowsDay.log
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Config/CrashReportClient/UECC-Windows-F234441546F7CDD138171584B76A8FA5/CrashReportClient.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Logs/ProgramTomorrowsDay-backup-2024.11.16-10.57.43.log
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
*.ush
Content/Maps/DevMap/L_Dev.umap
Saved/Autosaves/PackageRestoreData.json
Saved/Config/CrashReportClient/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04/CrashReportClient.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WorldState/700892224.json
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0000/ProgramTomorrowsDay.log
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0001/CrashReportClient.ini
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0001/ProgramTomorrowsDay.log
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0001/Slate.txt
Saved/Crashes/UECC-Windows-1B3177D24A69D97F3F85D39D72D24B04_0001/UEMinidump.dmp
Saved/SourceControl/UncontrolledChangelists.json
